// @font-face {
//     font-family: "仓耳小丸子";
//     src: url(../fonts/仓耳小丸子.ttf);
// }
// @font-face {
//     font-family: "优设标题黑";
//     src: url(../fonts/优设标题黑.ttf);
// }
// @font-face {
//     font-family: "峰广明锐体";
//     src: url(../fonts/峰广明锐体.ttf);
// }
// @font-face {
//     font-family: "摄图摩登小方体";
//     src: url(../fonts/摄图摩登小方体.ttf);
// }
// @font-face {
//     font-family: "站酷快乐体";
//     src: url(../fonts/站酷快乐体.ttf);
// }
// @font-face {
//     font-family: "字制区喜脉体";
//     src: url(../fonts/字制区喜脉体.ttf);
// }
// @font-face {
//     font-family: "素材集市康康体";
//     src: url(../fonts/素材集市康康体.ttf);
// }
// @font-face {
//     font-family: "联盟起艺卢帅正锐黑体";
//     src: url(../fonts/联盟起艺卢帅正锐黑体.ttf);
// }
// @font-face {
//     font-family: "素材集市酷方体";
//     src: url(../fonts/素材集市酷方体.ttf);
// }
// @font-face {
//     font-family: "途牛类圆体";
//     src: url(../fonts/途牛类圆体.ttf);
// }
// @font-face {
//     font-family: "锐字真言体";
//     src: url(../fonts/锐字真言体.ttf);
// }
// @font-face {
//     font-family: "阿里汉仪智能黑体";
//     src: url(../fonts/阿里汉仪智能黑体.ttf);
// }
// @font-face {
//     font-family: FangSong;
//     src: url(../fonts/FangSong.ttf);
// }
@font-face {
    font-family: TimesNewRoman;
    src: url(../fonts/TimesNewRoman.TTF);
}
@font-face {
    font-family: TimesNewRoman;
    src: url(../fonts/TimesNewRomanI.TTF);
    font-style: italic;
}
@font-face {
    font-family: Arial;
    src: url(../fonts/arial.ttf);
}
@font-face {
    font-family: KaiTi;
    src: url(../fonts/KaiTi.ttf);
}
// @font-face {
//     font-family: LiSu;
//     src: url(../fonts/LiSu.TTF);
// }
@font-face {
    font-family: "Microsoft YaHei";
    src: url("../fonts/Microsoft YaHei.ttf");
}
// @font-face {
//     font-family: NSimsun;
//     src: url(../fonts/NSimSun.ttf);
// }
@font-face {
    font-family: SimHei;
    src: url(../fonts/SimHei.ttf);
}
@font-face {
    font-family: SimSun;
    src: url(../fonts/SimSun.ttf);
}
// @font-face {
//     font-family: STFangSong;
//     src: url(../fonts/STFangSong.TTF);
// }
// @font-face {
//     font-family: STHupo;
//     src: url(../fonts/STHupo.TTF);
// }
// @font-face {
//     font-family: STKaiti;
//     src: url(../fonts/STKaiti.TTF);
// }
// @font-face {
//     font-family: STLiti;
//     src: url(../fonts/STLiti.TTF);
// }
// @font-face {
//     font-family: STSong;
//     src: url(../fonts/STSong.TTF);
// }
// @font-face {
//     font-family: STXihei;
//     src: url(../fonts/STXihei.TTF);
// }
// @font-face {
//     font-family: STXingkai;
//     src: url(../fonts/STXingkai.TTF);
// }
// @font-face {
//     font-family: STXinwei;
//     src: url(../fonts/STXinwei.TTF);
// }
// @font-face {
//     font-family: STZhongSong;
//     src: url(../fonts/STZhongSong.TTF);
// }
// @font-face {
//     font-family: YouYuan;
//     src: url(../fonts/YouYuan.TTF);
// }
