$themeColor: #1890ff;
$textColor: #41464b;
$borderColor: #eee;
$lightGray: #f9f9f9;

$boxShadow: 0 0 3px rgba(#000, 0.15);

$transitionDelay: 0.2s;
$transitionDelayFast: 0.1s;
$transitionDelaySlow: 0.3s;

$borderRadius: 2px;
